{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}

<div class="container my-2">
    <h1>Commentaires de l'utilisateur : {{ accountDetails.name }}</h1>
        <div class="row">
            {% for comment in accountDetails.comments %}
            <div class="col-md-12 ">
                <div>
                    {# <h4><a class="text-decoration-none" href="{{ path('app_game_details', {'slug': comment.game.slug}) }}">{{comment.game.name}}</a></h4>
                    <p>{{comment.content}} </p>
                    <p>Le {{comment.createdAt | format_datetime('full', 'none', locale='fr') }} #}
                    {% include "./comment/_comment.html.twig" %}

                </div>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}