{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<h1>Utilisateur : {{ accountDetails.name }}</h1>
<p>Temps de jeu total : {{accountTotalGameTime[1]}}</p>

<div class="container">
    <h2>Librairie :</h2>
        <div class="row">
            {% for library in accountDetails.libraries %}
            <div class="col-md-3 text-center">
                <h4>{{library.game.name}}</h4>
                <p>Temps de jeu : {{library.gameTime}}</p>
                <p>Dernière utilisation : {{library.lastUsedAt|format_datetime('short', 'none', locale='fr')}}</p>
                <p>Installé : {% if library.installed %} Oui {% else %} Non {% endif %}</p>
                <img src="{{library.game.thumbnailCover}}" style="width:100px;height:150x">
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
