{% extends 'base.html.twig' %}

{% block title %}
    Steamish
{% endblock %}



{% block body %}
    <div class="container">
    <div class="mt-5 pt-5"></div>
    <h2 class="mt-2">Les dernières sorties</h2>
        <div class="row">
            {% for game in lastGames %}
                <div class="col-md-4 text-center cardGame my-3">
                    {% block card %}
                        {% include './card/_card.html.twig' %}
                    {% endblock %}
                </div>
            {% endfor %}
        </div>

    <h2>Les plus joués</h2>
        <div class="row">
            {% for game in mostPlayedGames %}
                <div class="col-md-4 text-center cardGame my-3">
                    {% block card2 %}
                        {% include './card/_card.html.twig' %}
                    {% endblock %}
                </div>
            {% endfor %}
        </div>

    <h2>Les derniers commentaires</h2>
        <div class="row">
            {% for comment in lastComments %}
                <div class="col-md-3">
                    <div class="cardComment p-3 rounded">
                        <h4><a class="text-decoration-none" href="{{ path('app_game_details', {'slug': comment.game.slug}) }}">{{comment.game.name}}</a></h4>
                        <p>{{comment.content|slice(0, 100) ~ '...' }} </p>
                        <p>Le {{comment.createdAt | format_datetime('full', 'none', locale='fr') }}, par <a href="" class="text-decoration-none"><span>{{comment.account.name}}</span></a> </p>
                    </div>
                </div>
            {% endfor %}
        </div>

    <h2>Les plus vendus</h2>
        <div class="row">
            {% for game in mostBoughtGames %}
                <div class="col-md-4 text-center cardGame my-3">
                    {% block card3 %}
                        {% include './card/_card.html.twig' %}
                    {% endblock %}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}