{{ get_stars_for_game(game) | raw }}

<img src="{{game.thumbnailCover}}" alt="{{game.name}}" >

    <h5>{{game.name}}</h5>
    <p class="price">{{game.price}} €</p>

<div class="description">
    <p>{{game.description|slice(0,200) ~ '...'}}</p>
    <a href="{{ path('app_game_details', {'slug': game.slug}) }}" class="btn btn-primary">Détails</a>
</div>
