{% extends 'base.html.twig' %}

{# {% block title %}{{game.name}}{% endblock %} #}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="thumbnailCover">
                    <img src="{{ gameDetails.thumbnailCover }}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h2>{{gameDetails.name}}</h2>
                    <h3>Description</h3>
                    <p>{{gameDetails.description}}</p>
                    <h3>Genres</h3>
                    <p>
                        {% for genre in  gameDetails.genres %}
                            {{genre.name}} 
                        {% endfor %}
                    </p>
                    <h3>Langues</h3>
                    <p>
                        {% for countrie in  gameDetails.countries %}
                            
                            <img src="{{countrie.urlFlag}}" alt="">
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-12">
                <h3>Commentaires </h3>
                {% for comment in  gameDetails.comments | slice(0, 6) %}
                    <p>{{comment.createdAt |format_datetime('full', 'none', locale='fr')}}</p>
                    <p>{{comment.content}}</p>
                    <p><a href="{{ path('app_account_details', {'name': comment.account.name}) }}">{{comment.account.name}}</a></p>
                    <hr>
                {% endfor %}
                <a href="{{ path('app_game_comments', {'slug': gameDetails.slug}) }}" class="btn btn-primary">Voir tout</a>
            </div>
        </div>
    </div>

{% endblock %}