{% extends 'base.front.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    {{form_start(form) }}

        {# Ajouter les champs de notre PublisherType => on peut faire notre mise en page ici #}
        {{ form_row(form.name) }}
        {{ form_row(form.website) }}
        {{ form_row(form.slug) }}

        {# Ajouter un bouton submit #}
        <button type="submit" class="btn btn-primary" >Valider</button>
    {{form_end(form) }}
{% endblock %}
