{% extends 'base.front.html.twig' %}

{% block title %}{{topic.title}} : messages{% endblock %}

{% block body %}
<div class="container">
    <h1>{{topic.title}} : messages</h1>

    {% if app.user %}
    <a href="{{path('app_message_new', {id: topic.id})}}"><button class="btn btn-secondary">Créer un message</button></a>
    {% endif %}

    <div class="row">
        {% for message in topicMessages %}
        <div class="bg-dark rounded mb-1 mt-5 col-lg-8 border border-primary">
            <div>
                <div>
                    <b>{{message.createdBy.name}}</b>
                    <p>{{message.CreadtedAt|date("d/m/Y")}}</p>
                    {% if app.user == message.createdBy %}

                    <!-- Button trigger modal -->
                    <button type="button" class="text-decoration-none btn" data-bs-toggle="modal" data-bs-target="#a{{message.id}}">
                        <i class="fa-solid fa-trash text-danger"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="a{{message.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-black" id="exampleModalLabel">Supprimer le message</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-black">
                                    Voulez-vous vraiment supprimer ce message ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                    <a href="{{path('app_message_delete', {id: message.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="{{path('app_message_update', {id: message.id})}}"><i class="fa-solid fa-pen"></i></a>
                    {% endif %}
                </div>
                <hr>
                <div>
                    <p>{{message.content}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
